# frontend ignored folders
front/node_modules/
front/src/private

.vscode
.idea/

# backend ignored folders
back/.idea/
back/node_modules/

# Maven
back/.mvn
back/.mvn-classpath
back/pom.xml.bak
back/target

# Data
back/data

# JKS information
back/private.txt
back/keystore.jks
back/keystore.p12

node_modules/

#playwright 
test-results/
