# frontend ignored folders
client/node_modules/
client/src/private
client/build/

.vscode
.idea/

# backend ignored folders
server/.idea/
server/node_modules/

# Maven
server/.mvn
server/.mvn-classpath
server/pom.xml.bak
server/target

# Data
server/data

# JKS information
server/private.txt
server/keystore.jks
server/keystore.p12

node_modules/

#playwright 
test-results/
